[Desktop Entry]
Type=Application
Name=Up
Comment=Run system maintenance script
Exec=gnome-terminal -- bash -c /ZeroDust.sh
Icon=/image.png
Terminal=false
Categories=Utility;
